*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.font-size-50{
    font-size: 50px;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}

header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    
}

.btn{
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.container{
    max-width: 1500px;
    margin: auto;
}
/* TOP HEADER - NAV */

.top-header{
    height: 80px;
    line-height: 80px;
}

.logo{
    width: 25%;
    float: left;
}

.logo img{
   vertical-align: middle;
}


nav ul li{
    display: inline-block;
    float: left;
    margin-right: 40px;
   
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    
}

nav li a:hover {
    text-decoration: underline;

}


.btn-login{
    margin-left: 225px;
    height: 40px;
    width: 85px;
}

/* BOTTOM HEADER */

.bottom-header{
    position: relative;
    height: 720px;
    margin-bottom: 150px;
}


.bottom-header h1, .bottom-header p{
    color: white;
}

.bottom-header h1{
    margin-bottom: 40px;
}

.bottom-header p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.container-bottom{
    width: 35%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-download-mac{
    width: 180px;
    margin-right: 20px;
}


.btn-discord-browser{
    width: 295px;
    background-color: #23272a;
    color: white;
}

/* INIZIO MAIN */

main{
    max-width: 1500px;
    margin: auto;
}

.description-channel,
.vocal-channel,
.community{
    margin-bottom: 350px;
}

.img-container{
    width: 50%;
    float: left;
}


.text-container{
    width: 50%;
    float: left;
    color: #23272a;
}

.text-container h2{
    font-size: 50px;
    margin-bottom: 20px;
   
}

.text-container p{
    font-weight: 500;
    font-size: 18px;
}

.text-container h2,
.text-container p{
    width: 50%;
    margin-top: 45px;
}

.text-streaming h2{
    margin-bottom: 20px;

}

.text-streaming p{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;

}

.text-streaming{
    text-align: center;
    width: 70%;
    margin-bottom: 150px;
}

.text-streaming img{
    width: 100%;

}

/* DOWNLOAD FOR MAC */

.download-mac{
    text-align: center;
    margin-bottom: 200px;
}
.download-mac h2{
    margin-bottom: 35px;
    background-image: url("../img/stars.svg");
    background-position: center;

}

.btn-mac-violet{
    background-color: #8ea1e1;
    color: white;
    background-size: cover;
}

/* FOOTER */

footer{
    background-color: #23272a;
    width: 1500px;
    margin: auto;
    height: 800px;
}

.side-left{
    float: left;
    width: 30%;
}
.side-right{
    float: left;
    width: 70%;
}

footer ul{
    list-style-type: none;
    display: inline-block;
    margin-top: 50px;
    width: calc(100% / 4 - 9px);
    margin-left: 5px;
    
}

footer ul li{
    margin-bottom: 8px;
}

footer li a{
   text-decoration: none;
   color: white;
}

footer h4,
footer h2{
    color: #7289da;
}

footer p{
    color: white;
    height: 30px;
    
}

.footer-top p img{
    height: 15px;
    
}

.footer-bottom{
    height: 200px;
    border-top: 2px solid #414d6e;
    position: relative;
}

.footer-bottom img{
    margin-top: 30px;
}

.btn-signup{
    background-color: #8ea1e1;
    color: white;
   width: 115px;
   position: absolute;
   top: 30px;
   right: 0px;
}